*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%vw;
    height: 100vh;
}
/* Encabezado  y orgamizacion de la barra navegacion */
body > header{
    background-image: url(../Assets/images/banner-bk.jpg);
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height:55%;
}
header > .navBar {
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

header > .navBar > ul {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
    list-style: none;
}
header > .navBar > ul > img {
  width: 10rem;
  
}

header > .navBar > ul > li > a {
text-decoration: none;
color: white;
font-size: 1em;
}
header > .containerHeader{
    width: 55%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    align-items: flex-start;
    justify-content: flex-start;
    gap :30px;
}



header > .containerHeader > h1{
    font-size: 2.7em;
    height: 40%;
    width: 70%;
    color: white;
    text-wrap: nowrap;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: inline-block;
    text-align: left;
}
header > .containerHeader > h1 > span{
 display: block;
  
}

header > .containerHeader > p{
    height: 2rem;
    font-size: 0.8rem;
    color: white;
    width: 70%;
   text-wrap: wrap;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   text-align: left;
   font-weight: 200;
}
header > .containerHeader > .buttonStarted{
    width: 8rem;
    height: 2.3rem;
    border-radius: 30px;
    background-color: #00FEAC;
    border: 0 solid black;
    
}
header > .containerHeader > .buttonStarted > a{
   font-weight: 700;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   color: black;
   text-decoration: none;
    
}
header > .containerHeader > .buttonStarted:hover{
    cursor: pointer;

}
/* diseño del main */
main{

    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    flex-direction: column;
    align-content: space-around;
    flex-wrap: wrap;
}
main > .SegureInformate {
    width: 100%;
    height: 23em; 
    padding: 35px 0 0 0;
}
main > .SegureInformate > h2 {
    width: 100%;
    height: 3rem; 
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    color: rgb(54, 54, 54);
    margin-bottom: 2rem;
}
main > .SegureInformate > .containerInformate {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}
main > .SegureInformate > .containerInformate > .card {
    width: 30%;
   height: 100%;
   overflow: hidden;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.card > .item{
    width: 3cm;
} 
.card > h2{
   font-weight: 500;
   font-family:Verdana, Geneva, Tahoma, sans-serif;
   font-size: 18px;
} 

 .card > p{
    font-weight:400;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(78, 78, 78);
    text-align: center;
    font-size: 16px;
} 

main > .containerStyle {
    width: 100%;
    height:40em ;
    background-image: url(../Assets/images/Wave.svg);
    background-position:bottom;
    background-size:270em;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 90px;
    padding: 0 0 50px 0;

}


main > .containerStyle > .containerInformate{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

main > .containerStyle >.containerInformate > .articleSection{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    flex-direction: column;
    gap: 30px;
}
main > .containerStyle >.containerInformate > .articleSection > h2{
    width: 100%;
    text-wrap: wrap;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    color: rgb(32, 32, 32);
}

main > .containerStyle >.containerInformate > .articleSection > p{
    width: 100%;
    text-wrap: wrap;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(39, 39, 39);
    font-size: 18px;
}
main > .containerStyle >.containerInformate > .articleSection > button{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    width: 25%;
    height: 2.3rem;
    border-radius: 30px;
    border: none;
    font-weight: 600;
    background-color:rgb(0, 0, 61) ;
    cursor: pointer;
    }
main > .containerStyle >.containerInformate > .containerImg  {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
main > .containerStyle >.containerInformate >  .containerImg >img  {
    width: 100%;
    height: 100%;
    filter: drop-shadow(0 0  10px black);
}

/* segundo contenedor  */
.soonContainerSection{
    display: flex;
    flex-direction: row-reverse;   
    justify-content: center; 
    align-items: center;
    margin: 1cm 0 0 0 ;
}

/* targetas del main */
.containerTarget {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width:100%;
    max-height: 70%;
    gap: 7px;
}
#containerTitleTarget {
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    width: 100%;
    height: 600px;
    place-content: flex-end;
    justify-content: space-around;
}
#containerTitleTarget #h2 {
  display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    min-height: 10px;
    font-size: 2.5em;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.2;
    word-wrap: break-word;
    
}

.target {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 23%;
    min-width: 100px;
    height: 100%;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    gap: 40px;
}



.large-target {
    width: 23%;
    background-color: #00003d;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-15px);
    color: white;
}


.large-target h2{
    color: #fff;
}

.target h2 {
    font-size: 2em;
    font-weight: bold;
}
.target > article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.target p {
    font-size: 0.8rem;
    text-align: center;
    font-weight: 400;
    
}

.target .price {
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
    justify-content: space-evenly;
    width: 100%;
    font-size: 1em;
  }
 

 

  
  .target .price h3 {
    font-size: 3.5rem;
  }

  .target:nth-child(1),.target:nth-child(3) {
    color: black;
  }

  .target:hover {
    transform: translateY(-30px);;
    box-shadow: 0 0 10px black;
  }

/* botones de las targetas */

.btnFree{
    width: 40%;
    height: 2.5rem;
    border-radius: 20px;
    border: 1px solid #030369;
    background-color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}
.large-target .btnFree{
    width: 40%;
    height: 2.5rem;
    border-radius: 20px;
    border: 2px solid black;
    background-color: #00FEAC;

}


.target:hover  .btnFree  {
    background-color: #00feaea9;
}

/* imagenes de logos */
.img_logos{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    min-height: 150px;
    background-color: rgba(211, 211, 211, 0.479);
    margin-top: 1rem;
}
.img_logos img{
    width: 6.5em;
}
footer {
    display:flex;
    justify-content: center;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    flex-direction: column;
    margin: 0;
}
footer .containerFooter{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-image: url(../Assets/images/contact-bk.jpg);
    background-size: cover;
    min-height: 450px;
    background-repeat: no-repeat;
    gap: 20px;
}
.ContactUs h2{
    width: 80%;
    color: white;
    font-size: 55px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.ContactUs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    width: 50%;
    flex-wrap: wrap;
    align-content: flex-end;
}
.ContactUs p{
  color: white;
  flex-wrap: wrap;
  font-weight: 100;
  font-size: 17px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.ContactUs a{
  color: white;
  flex-wrap: wrap;
  text-decoration: none;
  

}
footer  .formContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
    flex-wrap: wrap;
}

.form-container {
    display: flex;
    width: 80%;
    flex-direction: column;
    gap: 20px;
}


.containerlabel {
    display: flex;
    align-items: center;
    justify-content:space-between;
    width:100%;
}
.organizate{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:45%;
}

.labelContainer {
    width: 100%; 
    color: #00FEAC;
    font-size: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

input[type="text"],
input[type="email"],
textarea {
    flex: 1; 
    padding: 8px;
    border-radius: 3px;
    background: transparent;
    border: 1px solid  #00FEAC;
    color: white;
}

button[type="submit"] {
    background-color: #00FEAC; 
    color: #000000; 
    border-radius: 3px;
    cursor: pointer; 
    height: 2.5rem;
    border: 1px solid #00FEAC;
    border-radius: 20px;
}

button[type="submit"]:hover {
    background-color: #028058; 
}
/* Estilos para el textarea */
textarea {
    resize: none; 
    outline: none;
}
footer .networks{
    width: 100%;
    min-height: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #151d35;
}
footer .socialNetworks{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

}
footer .networks p{
    width: 30%;
    color: white;
    text-align: center;
}
footer .socialNetworks img{
    width: 3.5rem;
    border-radius: 50%;
    
}
footer .socialNetworks img:hover{
    border-radius: 50%;
    transform: translateY(-5px);
    box-shadow:0 0 10px white;
    transition: 0.2s ease-out;
}
